ion-col {
    text-align: center;
}

.photo-frame {
    margin: 5vw;
    border: black solid 1px;
    width: 40vw;
    max-width: 200px;
    border-radius: .25em;
}

.error {
    color: red;
}

form {
    margin: 5vw;
}