<ion-header>
  <ion-toolbar>
    <ion-title>
      Modifica tu perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-img class="photo-frame"></ion-img>
            <ion-img class="photo-frame" src=".\assets\img\No-Image-Placeholder.svg"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-button color="primary" fill="outline">
              <ion-icon slot="start" name="camera-outline"></ion-icon>
              Take a photo
            </ion-button>
            <ion-button color="primary" fill="outline">
              <ion-icon slot="start" name="image-outline"></ion-icon>
              Pick an image
            </ion-button>
            <ion-button color="danger" fill="outline">
              <ion-icon slot="start" name="aperture"></ion-icon>
              Discard image
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label id="password" position="floating">Contraseña</ion-label>
      <ion-input aria-labelledby="password" type="text" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="changePassword()">Cambiar</ion-button>
</ion-content>