<ion-header>
  <ion-toolbar>
    <ion-title>
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label id="emailLogin" position="floating">Correo Electrónico</ion-label>
      <ion-input placeholder="aisha1@hola.es" aria-labelledby="emailLogin" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label id="passwordLogin" position="floating">Contraseña</ion-label>
      <ion-input aria-labelledby="passwordLogin" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
</ion-content>