<ion-header>
  <ion-toolbar>
    <ion-title>
      Registrarse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="singupForm" (ngSubmit)="register()" novalidate>
    <ion-item>
      <ion-label aria-labelledby="nickNameRegister" position="floating">Nombre</ion-label>
      <ion-input formControlName="nickName" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl['nickName']?.errors?.['required']">NickName is required.</span>
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" aria-labelledby="emailRegister" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl['email']?.errors?.['required']">Email is required.</span>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" aria-labelledby="passwordRegister" type="password"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl['password']?.errors?.['required']">Password is required.</span>
    <ion-button type="Submit" expand="full">Registrarse</ion-button>
  </form>
</ion-content>