<ion-header>
  <ion-toolbar>
    <ion-title>
      Registrarse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label id="nickName" position="floating">Nombre</ion-label>
      <ion-input aria-labelledby="nickName" [(ngModel)]="nickName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label id="emailRegister" position="floating">Correo Electrónico</ion-label>
      <ion-input aria-labelledby="emailRegister" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label id="passwordRegister" position="floating">Contraseña</ion-label>
      <ion-input aria-labelledby="passwordRegister" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="register()">Registrarse</ion-button>
</ion-content>